<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123596029282-5jlu324vus86d2d57ss03kpliclppst5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123596029282-5jlu324vus86d2d57ss03kpliclppst5</string>
	<key>API_KEY</key>
	<string>AIzaSyATZR_pcgk0EmxOsBpeNoLyL0fg1RvHCKc</string>
	<key>GCM_SENDER_ID</key>
	<string>123596029282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunscreenfyi.DoINeedSunscreen</string>
	<key>PROJECT_ID</key>
	<string>do-i-need-sunscreen</string>
	<key>STORAGE_BUCKET</key>
	<string>do-i-need-sunscreen.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123596029282:ios:891269665b5d7e0421403b</string>
	<key>DATABASE_URL</key>
	<string>https://do-i-need-sunscreen-default-rtdb.firebaseio.com</string>
</dict>
</plist>